.bage {
    position: fixed;
    left: center;
    top: 20px;
    border: 2px solid #c25375;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    z-index: 20;
}